@CHARSET "UTF-8";
html {
    height: 100%;
}
body {
    margin: 0;	
    padding: 0;
    height: 100%;
}

#container{
	background: #18bc9c;
	height:100%;
	width:auto;
	border: 1px solid red;
	overflow: hidden;	
	/*outline: #00FF00 solid thick;*/
}

.header {
	background: #2c3e50;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 900;
	font-size:2em;
	padding-top: 1.25em;
	padding-bottom: 1.5em;
	height:10%
}

.chart-title {
	font-size:0.75em;
	font-style: italic;
}

#content {
	height:65%;
	width:100%;
}


#canvas {
	height:100%;
	width:100%;
}

.sixty {
	width: 60%; 
	float: left;
}

.forty {
	width: 40%;
	float: left;
}

.space {
	padding-top: 1em;
	padding-bottom: 0.5em;
}

table {
    border-collapse: collapse;
	border: 1px solid black;
}

td {
    border: 1px solid black;
    padding:0.5em;
}

.pie-table-header {
    border: 1px solid black;
    border-collapse: collapse;
	text-align: left;
	background-color: lemonchiffon;
}

.pie-table-row {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: white;
	text-align: center;
}
.colorbox {
	height: 1em;
	width: 1em;
}

.customer {
	background-color: #FF5A5E;
}

.subscriber {
	background-color: #5AD3D1;
}

.male {
	background-color:blue;
}

.female {
	background-color:Deeppink;
}

.unknown {
	background-color:grey;
}

#nav {
	display: inline-block;
	outline-color: white;
	float:left;
}

a {
	color:white;
	font-size: medium;
	text-align: center;
	padding-left:0.5em;
}

#footer {
	height:15%;
	clear:both;
	background: #2c3e50;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 900;
	font-size:2em;
	padding-top: 0.5em;
	padding-bottom: 1em;
	border: 1px solid blue;
}


